<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="flex-container flex-basis-12 center-main">
        <div>
            <strong>
                <f:translate key="partials.default.more.noResults.text1" extensionName="RkwRelated" />
            </strong>
            <f:if condition="{settings.showFilter}">
                <p>
                    <f:translate key="partials.default.more.noResults.text2" extensionName="RkwRelated" />
                    <br>
                    <f:translate key="partials.default.more.noResults.text3" extensionName="RkwRelated" />
                </p>
            </f:if>
            <p>
                <f:translate key="partials.default.more.noResults.text4" extensionName="RkwRelated" />
                <br>
                <f:translate key="partials.default.more.noResults.text5" extensionName="RkwRelated" />
            </p>
        </div>
    </div>
</html>