<f:section name="Replace">
    <f:if condition="{relatedPagesList}">
        <f:then>
            <div class="tiles flex-container flex-container--margin {f:if(condition: '{settings.isSidebar}', then: 'narrow')}">
                <f:render partial="More/List/Boxes/PoweredBy" arguments="{_all}" />
                <f:render partial="More/List/CommonPages" arguments="{_all}" />
            </div>
        </f:then>
        <f:else>
            <f:render partial="More/List/NoResults" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>

<f:section name="Append">

    <f:if condition="{relatedPagesList}">
        <f:then>
            <f:render partial="More/List/CommonPages" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="More/List/NoResults" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>