<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwRelated="http://typo3.org/ns/RKW/RkwRelated/ViewHelpers"
	data-namespace-typo3-fluid="true">

<li class="iconlist__item {f:if(condition: '{page.txRkwpdf2contentIsImport}', then: 'book', else: 'public')}">
		<f:link.page
			pageUid="{page.uid}"
			title="{page.title}"
			target="{f:if(condition: '{linkInSameWindow}', then: '{f:if(condition: \'{rkwRelated:isPageInRootline(pageUid:\\\'{page.uid}\\\')}\', then: \'_self\', else: \'_blank\')}', else: '_blank')}"
		>
			{page.title}
		</f:link.page>
	</li>
</html>