<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwRelated="http://typo3.org/ns/RKW/RkwRelated/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:section name="Flex3">
		<div class="flex-item flex-basis-3">
			<div class="tile">
				<f:render partial="Default/Boxes/Default/Inner" section="Header" arguments="{_all}" />
				<div class="tile__content">
					<f:render partial="Default/Boxes/Default/Inner" section="Title" arguments="{_all}" />
					<f:render partial="Default/Boxes/Default/Inner" section="Text" arguments="{_all}" />
				</div>

				<f:render partial="Default/Boxes/Default/Inner" section="Footer" arguments="{_all}" />

				<f:link.page
					pageUid="{page.uid}"
					class="tile__link-overlay"
					title="{page.title}"
					target="{f:if(condition: '{linkInSameWindow}', then: '{f:if(condition: \'{rkwRelated:isPageInRootline(pageUid:\\\'{page.uid}\\\')}\', then: \'_self\', else: \'_blank\')}', else: '_blank')}"
				>
					{page.title}
				</f:link.page>
			</div>
		</div>
	</f:section>


	<f:section name="Flex4">
		<div class="flex-item flex-basis-4">
			<div class="tile">
				<f:render partial="Default/Boxes/Default/Inner" section="Header" arguments="{_all}" />
				<div class="tile__content">
					<f:render partial="Default/Boxes/Default/Inner" section="Title" arguments="{_all}" />
					<f:render partial="Default/Boxes/Default/Inner" section="Text" arguments="{_all}" />
				</div>

				<f:render partial="Default/Boxes/Default/Inner" section="Footer" arguments="{_all}" />

				<f:link.page
					pageUid="{page.uid}"
					class="tile__link-overlay"
					title="{page.title}"
					target="{f:if(condition: '{linkInSameWindow}', then: '{f:if(condition: \'{rkwRelated:isPageInRootline(pageUid:\\\'{page.uid}\\\')}\', then: \'_self\', else: \'_blank\')}', else: '_blank')}"
				>
					{page.title}
				</f:link.page>
			</div>
		</div>
	</f:section>
</html>
