{namespace rkwAjax=RKW\RkwAjax\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">
        <div class="flex-container" aria-live="assertive" aria-atomic="true" role="main">

            <f:if condition="{relatedPagesList}">
                <f:then>

                    <div class="tiles-wrapper" >
                        <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="append" ajaxId="2">
                            <div class="tiles flex-container flex-container--margin">

                                <f:render partial="Home/More/Boxes/PoweredBy" arguments="{_all}" />

                                <f:for each="{relatedPagesList}" as="pages" iteration="iterator">
                                    <f:render partial="Home/More/Boxes/Default" arguments="{_all}" />
                                </f:for>
                            </div>
                        </rkwAjax:ajaxWrapper>
                    </div>

                    <f:render partial="Home/More/Next" arguments="{_all}" />

                </f:then>
                <f:else>
                    <f:render partial="Home/More/NoResults" arguments="{_all}" />
                </f:else>
            </f:if>
        </div>
    </rkwAjax:ajaxWrapper>

</html>
