<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwRelated="http://typo3.org/ns/RKW/RkwRelated/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:form.select
		class="select-field"
		value="<rkwRelated:preselect filterList='{filterFull.category}' />"
		name="filter[categories]"
		options="{categoryList}"
		optionValueField="uid"
		optionLabelField="title"
		prependOptionLabel="<f:translate key='partials.default.more.filters.category.showAll' />"
		prependOptionValue="0" />

</html>