<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwRelated="http://typo3.org/ns/RKW/RkwRelated/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:form.select
		class="select-field"
		value="<rkwRelated:preselect filterList='{filterFull.documentType}' />"
		name="filter[documentType]"
		options="{documentTypeList}"
		optionValueField="uid"
		optionLabelField="name"
		prependOptionLabel="<f:translate key='partials.default.more.filters.documentType.showAll' />"
		prependOptionValue="0" />

</html>